// Typography partial
@import "partials/colors";

// Fonts

@font-face {
    font-family: 'Nitemare';
    src: url('../fonts/NITEMARE.TTF') format('truetype');
}

@font-face {
    font-family: 'Margarita';
    src: url('../fonts/CfMargaritaDemoRegular-yYBzM.ttf') format('truetype');
}


$sans-serif: 'Margarita', serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$accent-font: 'Nitemare', serif;



// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Sizes

$font-size-h1: 60px;
$font-size-h2: 60px;
$font-size-h3: 48px;
$font-size-h4: 36px;
$font-size-h5: 24px;
$font-size-p: 24px;
$nav-font-size: 20px;
$blog-post-title: 11px;

// Responsive Sizes

$responsive-h1: 40px;

// Line height

$base-line-height: 29px;

// Styles

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: $font-size-p;
  line-height: $base-line-height;
  color: $txt-primary;
  padding-bottom: 20px;
}

h1 {
  font-size: $font-size-h1;
  font-family: $accent-font;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $light;
  color: $h2-color;
  font-family: $accent-font;

}

h3 {
  color: $h3-color;
  font-size: $font-size-h4;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: $base-line-height;
    font-family: $accent-font;

}

h4 {
  font-size: $font-size-h4;
  font-family: $accent-font;

}

h5 {
  font-size: $font-size-h5;
  color: $h5-color;
  text-transform: uppercase;
  font-weight: $semibold;
  font-family: $accent-font;

}

formfont {
  font-family:'Times New Roman', Times, serif;
}
